<div class="container">
    <table class="table table-bordered align-center">
        <thead>
            <tr class="text-center">
                <th>วันที่</th>
                <th>ประเภท</th>
                <th>จำนวนวันลา</th>
                <th>สถานะ</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor = "let data of leaveHistory">
                <td>{{ data.startDate | date: 'dd/MM/yyyy' }} - {{ data.endDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ data.leaveTypeName }}</td>
                <td>{{ data.usedDays }} วัน</td>
                <td><span class="badge" [ngClass] = "{
                    'bg-success': data.status === 'APPROVED',
                    'bg-danger': data.status === 'PENDING'
                }">{{ data.status }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>